@import "tailwindcss";

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
	transition: none !important;
	animation: none !important;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins-Light', sans-serif;
	background-color: #f8f8f8;
}

body {
	font-size: 14px;
	line-height: 1.4;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0;
}

h1,
.h1 {
	font-size: 24px;
}

h2,
.h2 {
	font-size: 20px;
}

h3,
.h3 {
	font-size: 16px;
}

h4,
.h4 {
	font-size: 15px;
}

h5,
.h5 {
	font-size: 13px;
}

h6,
.h6 {
	font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
	z-index: 99;
}

a[role='button'] {
	text-decoration: none;
}

form label {
	z-index: 99;
}

input:-webkit-autofill {
	animation-delay: 1s;
	animation-name: autofill !important;
	animation-fill-mode: both;
	-webkit-box-shadow: 0 0 0 100px transparent inset !important;
}

:focus {
	outline-color: transparent;
}
.michigan-bg-primary {
	background-color: #2b22e5 !important;
}

.michigan-text-primary {
	color: #2b22e5 !important;
}

.michigan-text-secondary {
	color: #010060 !important;
}

.michigan-bg-secondary {
	background-color: #3e94ff !important;
}

.michigan-bg-purple {
	background-color: #a700ba !important;
}

.michigan-bg-yellow {
	background-color: #d0ff00 !important;
}

.michigan-bg-hard-blue {
	background-color: #010060 !important;
}

.michigan-bg-soft-blue {
	background-color: #00edd5 !important;
}

.michigan-text-secondary {
	color: #3e94ff !important;
}

.michigan-bg-tertiary {
	background-color: #010060 !important;
}

.michigan-text-tertiary {
	color: #010060 !important;
}

@font-face {
  font-family: 'Champ-BoldExtra';
  src: url('_metronic/fonticon/Poppins-LightItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Champ-Bold';	
  src: url('_metronic/fonticon/Champ-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Champ-Black';
  src: url('_metronic/fonticon/Champ-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Champ-Light';
  src: url('_metronic/fonticon/Champ-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('_metronic/fonticon/Poppins-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('_metronic/fonticon/Poppins-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('_metronic/fonticon/Poppins-LightItalic.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('_metronic/fonticon/Poppins-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Poppins-extrabold';
  src: url('_metronic/fonticon/Poppins-ExtraBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Allura-Regular';
  src: url('_metronic/fonticon/Allura-Regular.ttf') format('opentype');
}

.champ-extrabold {
  font-family: 'Champ-BoldExtra', sans-serif !important;
}
.champ-bold {
  font-family: 'Champ-Bold', sans-serif !important;
}
.champ-black {
  font-family: 'Champ-Black', sans-serif !important;
}
.champ-light {
  font-family: 'Champ-Light', sans-serif !important;
}

.poppins-light {
  font-family: 'Poppins-Light', sans-serif !important;
}

.poppins-bold {
  font-family: 'Poppins-Bold', sans-serif !important;
}

.poppins-light-italic {
  font-family: 'Poppins-LightItalic', sans-serif !important;
}

.blue-michigan {
  color: #2d30e1;
}

.poppins-medium {
  font-family: 'Poppins-Medium', sans-serif !important;
}

.poppins-extrabold {
  font-family: 'Poppins-extrabold', sans-serif !important;
}

.allura-regular {
  font-family: 'Allura-regular', sans-serif !important;
}
