@import "tailwindcss";

body.no-animate *,
body.no-animate *::before,
body.no-animate *::after {
	transition: none !important;
	animation: none !important;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins-Light', sans-serif;
	background-color: #f8f8f8;
}

body {
	font-size: 14px;
	line-height: 1.4;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	margin: 0;
}

h1,
.h1 {
	font-size: 24px;
}

h2,
.h2 {
	font-size: 20px;
}

h3,
.h3 {
	font-size: 16px;
}

h4,
.h4 {
	font-size: 15px;
}

h5,
.h5 {
	font-size: 13px;
}

h6,
.h6 {
	font-size: 12px;
}

.ps > .ps__rail-y,
.ps > .ps__rail-x {
	z-index: 99;
}

a[role='button'] {
	text-decoration: none;
}

form label {
	z-index: 99;
}

input:-webkit-autofill {
	animation-delay: 1s;
	animation-name: autofill !important;
	animation-fill-mode: both;
	-webkit-box-shadow: 0 0 0 100px transparent inset !important;
}

:focus {
	outline-color: transparent;
}
.michigan-bg-primary {
	background-color: #2b22e5 !important;
}

.michigan-text-primary {
	color: #2b22e5 !important;
}

.michigan-text-secondary {
	color: #010060 !important;
}

.michigan-bg-secondary {
	background-color: #3e94ff !important;
}

.michigan-bg-purple {
	background-color: #a700ba !important;
}

.michigan-bg-yellow {
	background-color: #d0ff00 !important;
}

.michigan-bg-hard-blue {
	background-color: #010060 !important;
}

.michigan-bg-soft-blue {
	background-color: #00edd5 !important;
}

.michigan-text-secondary {
	color: #3e94ff !important;
}

.michigan-bg-tertiary {
	background-color: #010060 !important;
}

.michigan-text-tertiary {
	color: #010060 !important;
}
